
/**
 * llms-divi.css
 *
 * @since 2016-03-10
 */
.llms-progress-circle-count { top: 38%; }
.llms-quiz-result-details { margin-top: 25px; }
.llms-quiz-result-details ul { list-style-type: none !important; }